.container {
  background-color: rgb(var(--background-color));
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding: 10px;
  border-radius: var(--border-radius);

  gap: 0.5rem;

  width: 100%;
}

.service_name {
  border: 0;
  font-size: medium;

  width: auto;

  background-color: rgb(var(--fogged-color));
  border-radius: var(--border-radius);

  padding: 5px;
}

.password {
  margin-left: 5px;

  outline: none;
  border: none;
  background-color: transparent;
}

.password[type=password]::-ms-reveal,
.password[type=password]::-ms-clear
{
    display: none;
}