@import "./font.css";

:root {
  font-family: Cantarell;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;

  min-width: 100%;

  --border-radius: 9px;
  --fogged-color: 26, 26, 26;

  --secondary-color: 255, 255, 255;
  --background-color: 36, 36, 36;
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(var(--fogged-color));
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  color: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --fogged-color: 235, 235, 235;
    --secondary-color: 36, 36, 36;
    --background-color: 255, 255, 255;
  }

  button {
    background-color: rgb(var(--fogged-color));
  }
}

.sizing_container {
  box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 900px) {
  .sizing_container {
    width: 100%;
  }
}
